<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue-grey fixed-top" [containerInside]="false">
    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand animate__animated animate__pulse animate__slow animate__infinite" target="blank">Student</a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
           
        </ul>
        <!-- Links -->

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" routerLink="/test" mdbWavesEffect>Test<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" routerLink="/universities" mdbWavesEffect>Varsities</a>



            <!--uncomment the following to see a user icon dropdown, helpful for user authentication-->
            <li class="nav-item">
                <a class="nav-link">
                    <div class="btn-group" mdbDropdown>
                        <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
                        <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                            <a class="dropdown-item" href="#">Sign in</a>
                            <a class="dropdown-item" href="#">Sign up</a>
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </div>
                </a>
            </li>


        </ul>
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->


<!--just adding empty space after the navbar, u can edit this with css or remove it with the class of "fixed-top" in the second line-->
<br><br>