<div
    style="height: 95vh; background-image: url('../../../assets/images/bg1.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="student">
        <h2>Admin add</h2>
        <form action="/action_page.php">
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <input type="submit" value="Submit"><br><br>
            <input type="button" value="Back" onclick="window.history.back()">
          </form>
          
    </div>
</div>
